<div class="complaint-item box box-solid">
  <div class="box-header with-border">
    <h4>{{ complaint.region.title }} <small>({{ complaint.region.federalDistrict.title }})</small></h4>
  </div>

  <div class="box-body">
    <div *ngIf="!!complaint.serviceType">
      <span class="text-primary">{{ complaint.serviceType.title }}</span>
    </div>
    <div class="text-muted">{{ complaint.message }}</div>
    <div>
      <app-complaint-picture-item
              *ngFor="let picture of complaint.pictures"
              [picture]="picture"
              [size]="'previewSmall'"
      ></app-complaint-picture-item>
    </div>
    <div>
      <app-video-item
              *ngFor="let video of complaint.videos"
              [video]="video"
              [size]="'small'"
      ></app-video-item>
    </div>
  </div>

  <div class="box-footer">
    <div class="tag-list">
      <app-common-tag-item *ngFor="let tag of complaint.tags" [tag]="tag"></app-common-tag-item>
    </div>
  </div>
</div>
