<div class="complaint-item box box-solid">
  <div class="box-header with-border">
    <h4>{{ complaint.region.title }} <small>({{ complaint.region.federalDistrict.title }})</small></h4>

    <div class="box-tools pull-right">
      <a routerLink="/client/complaint/{{complaint.id}}/edit" type="button" class="btn btn-box-tool"><i class="fa fa-edit"></i></a>
      <button type="button" class="btn btn-box-tool" (click)="onDeleteClickHandler($event)"><i class="fa fa-trash"></i></button>
    </div>
  </div>

  <div class="box-body">
    <p *ngIf="!!complaint.serviceType">
      <span class="text-primary">{{ complaint.serviceType.title }}</span>
    </p>
    <p class="text-muted">{{ complaint.message }}</p>
    <p *ngIf="complaint.pictures.length > 0">
      <app-complaint-picture-item
              *ngFor="let picture of complaint.pictures"
              [picture]="picture"
              [size]="'previewSmall'"
      ></app-complaint-picture-item>
    </p>
    <p *ngIf="complaint.videos.length > 0">
      <app-video-item
              *ngFor="let video of complaint.videos"
              [video]="video"
              [size]="'small'"
      ></app-video-item>
    </p>
  </div>

  <div class="box-footer">
    <div class="tag-list">
      <app-common-tag-item *ngFor="let tag of complaint.tags" [tag]="tag"></app-common-tag-item>
    </div>
    <small class="pull-right text-muted">{{ complaint.createdAt | amFromUnix }}</small>
  </div>
</div>
