<div class="issue-geo-location-selector">
  <app-map #map
          (onLocationClick)="onLocationClickHandler($event)"
          (onReady)="onMapReadyHandler($event)"
           (onViewBoxChange)="onViewBoxChangeHandler($event)"
           [defaultCenter]="deviceLocation"
           [defaultZoom]="10"
  ></app-map>
  <div class="control-panel">
    <div class="control-container box-solid">
      <div class="box-body">
        <div class="controls">
          <ng-container *ngIf="!isAddressSelected()">
            <button
                    class="btn btn-primary"
                    [attr.aria-pressed]="isSelectingLocation"
                    [attr.data-toggle]="'button'"
                    [attr.autocomplete]="'off'"
                    (click)="isSelectingLocation = !isSelectingLocation"
            >
              <i class="fa fa-mouse-pointer"></i>Select location
            </button>
          </ng-container>
          <ng-container *ngIf="isAddressSelected()">
            <button
                    type="button"
                    class="btn btn-success"
                    [disabled]="!isAddressSelected()"
                    (click)="onConfirmButtonClickHandler($event)"
            >
              <i class="fa fa-check"></i>Confirm
            </button>
          </ng-container>
        </div>
        <div>
          <app-search-form
                  #searchForm
                  (onChange)="onSearchFormChangeHandler($event)"
          ></app-search-form>
        </div>
      </div>
    </div>

  </div>
</div>