<app-map-balloon
        *ngIf="!!confirmation"
        [colorStyle]="'confirmation-' + confirmation.status.code"
        [isCollapsed]="true"
        [hasToCenteredOnOpen]="true"
        [location]="confirmation.complaint.location">

  <div class="balloon-title">
    {{ 'SIGNATURE_REQUESTED' | translate }}
    <i class="fa fa-check-circle" *ngIf="confirmation.status.code === 'confirmed'" [title]="confirmation.status.title"></i>
    <i class="fa fa-ban" *ngIf="confirmation.status.code === 'rejected'" [title]="confirmation.status.title"></i>
    <i class="fa fa-clock-o" *ngIf="confirmation.status.code === 'pending'" [title]="confirmation.status.title"></i>
  </div>

  <div class="balloon-content">
    <p class="text-primary">{{ confirmation.complaint.client.fullName }}</p>
    <p class="text-muted">{{
      confirmation.complaint.message.length > 150 ?
              (confirmation.complaint.message | slice:0:150) + '...'
              : confirmation.complaint.message }}
      <ng-container *ngxPermissionsOnly="['ROLE_CLIENT_USER']">
        <a [routerLink]="'/client/complaint/' + confirmation.complaint.id.toString()" [target]="'_blank'">{{ 'MORE' | translate }}...</a>
      </ng-container>
      <ng-container *ngxPermissionsOnly="['ROLE_ADMIN_USER']">
        <a [routerLink]="'/admin/complaint/' + confirmation.complaint.id.toString()" [target]="'_blank'">{{ 'MORE' | translate }}...</a>
      </ng-container>
      <ng-container *ngxPermissionsOnly="['ROLE_COMPANY_REPRESENTATIVE_USER']">
        <a [routerLink]="'/company/complaint/' + confirmation.complaint.id.toString()" [target]="'_blank'">{{ 'MORE' | translate }}...</a>
      </ng-container>
    </p>
    <p>
      <ng-container *ngIf="confirmation.complaint.pictures.length > 0">
        <div>
          <app-picture-item
                  *ngFor="let picture of confirmation.complaint.pictures | slice:0:5"
                  [picture]="picture" [size]="'previewExtraSmall'">
          </app-picture-item>
        </div>
        <div>
          <span class="small" *ngIf="confirmation.complaint.pictures.length > 0">
            {{ confirmation.complaint.pictures.length }} {{ 'PHOTO' | translate }}
          </span>
        </div>
      </ng-container>

      <ng-container *ngIf="confirmation.complaint.videos.length > 0">

        <div>
          <app-video-item *ngFor="let video of confirmation.complaint.videos | slice:0:5" [video]="video" [size]="'extra-small'"></app-video-item>
        </div>

        <div>
          <span class="small" *ngIf="confirmation.complaint.videos.length > 0">
            {{ confirmation.complaint.videos.length }} {{ 'VIDEO' | translate }}
          </span>
        </div>

      </ng-container>
    </p>
    <div>
      <small class="text-primary pull-left" *ngIf="!!confirmation.complaint.serviceType">{{ confirmation.complaint.serviceType.title }}</small>
      <small class="text-muted pull-right" app-date-time [value]="confirmation.complaint.createdAt"></small>
    </div>
  </div>

  <div class="balloon-footer" *ngIf="false"></div>

</app-map-balloon>
