<app-map-balloon
        *ngIf="!!confirmation"
        [colorStyle]="'confirmation-' + confirmation.status.code"
        [isCollapsed]="true"
        [hasToCenteredOnOpen]="true"
        [location]="confirmation.complaint.location">

  <div class="balloon-title">
    Signature
    <i class="fa fa-check-circle" *ngIf="confirmation.status.code === 'confirmed'"></i>
    <i class="fa fa-ban" *ngIf="confirmation.status.code === 'rejected'"></i>
    <i class="fa fa-clock-o" *ngIf="confirmation.status.code === 'pending'"></i>
  </div>

  <div class="balloon-content">
    <p class="text-primary">{{ confirmation.complaint.client.fullName }}</p>
    <p class="text-muted">{{
      confirmation.complaint.message.length > 150 ?
              (confirmation.complaint.message | slice:0:150) + '...'
              : confirmation.complaint.message }}
      <ng-container *ngxPermissionsExcept="['ROLE_ADMIN_USER']">
        <a [routerLink]="'/client/complaint/' + confirmation.complaint.id.toString()" [target]="'_blank'">More...</a>
      </ng-container>
    </p>
    <p>
      <ng-container *ngIf="confirmation.complaint.pictures.length > 0">
        <div>
          <app-picture-item
                  *ngFor="let picture of confirmation.complaint.pictures | slice:0:5"
                  [picture]="picture" [size]="'previewExtraSmall'">
          </app-picture-item>
        </div>
        <div>
          <span class="small" *ngIf="confirmation.complaint.pictures.length > 0">{{ confirmation.complaint.pictures.length.toString() + ' picture(s)' }}&nbsp;</span>
        </div>
      </ng-container>

      <ng-container *ngIf="confirmation.complaint.videos.length > 0">

        <div>
          <app-video-item *ngFor="let video of confirmation.complaint.videos | slice:0:5" [video]="video" [size]="'extra-small'"></app-video-item>
        </div>

        <div>
          <span class="small" *ngIf="confirmation.complaint.videos.length > 0">{{ confirmation.complaint.videos.length.toString() + ' video' }}</span>
        </div>

      </ng-container>
    </p>
    <div>
      <small class="text-primary pull-left" *ngIf="!!confirmation.complaint.serviceType">{{ confirmation.complaint.serviceType.title }}</small>
      <small class="text-muted pull-right">{{ confirmation.complaint.createdAt | amFromUnix }}</small>
    </div>
  </div>

  <div class="balloon-footer" *ngIf="false"></div>

</app-map-balloon>
