<app-map-balloon
        [colorStyle]="'green'"
        [isCollapsed]="true"
        *ngIf="!!complaint"
        [hasToCenteredOnOpen]="true"
        [location]="complaint.location"
    >
  <div class="balloon-title" [title]="complaint.address.displayName">
    <a [routerLink]="'/client/complaint/' + complaint.id">{{ 'COMPLAINT' | translate }}</a>
  </div>

  <div class="balloon-content">
    <div class="text-primary">{{ complaint.client.fullName }}</div>
    {{ complaint.address.displayName }}
    <div class="text-muted">{{ complaint.message.length > 150 ? (complaint.message | slice:0:150) : complaint.message }}
      <ng-container *ngxPermissionsOnly="['ROLE_CLIENT_USER']">
        <a [routerLink]="'/client/complaint/' + complaint.id">{{ 'MORE' | translate }}...</a>
      </ng-container>
    </div>
    <div class="text-primary" *ngIf="!!complaint.serviceType">{{ complaint.serviceType.title }}</div>
  </div>
  <div class="balloon-footer">
    <span class="pull-right text-muted small" app-date-time [value]="complaint.createdAt"></span>
  </div>
</app-map-balloon>
