<div class="box-comment comment-item">
  <ng-container *ngIf="isEditing">
    <app-issue-comment-form
            [comment]="comment"
            [errors]="editErrors"
            (onSubmit)="onCommentSubmitHandler($event)"
            (onCancel)="onCancelEditCommentHandler($event)"
            [withCancel]="true"
    ></app-issue-comment-form>
  </ng-container>

  <ng-container *ngIf="!isEditing">

    <div class="comment-text">
      <span class="username">{{ comment.author.fullName }}
        <small *ngIf="comment.author.isAdmin()" class="text-danger">(admin)</small>
        <small *ngIf="comment.author.isCompanyRepresentative()" class="text-primary">(Company - {{ comment.author.company.title }})</small>
        <span class="text-muted pull-right" app-date-time [value]="comment.createdAt"></span>
      </span>
      {{ comment.message }}
    </div>

    <div class="controls" *ngxPermissionsOnly="['ROLE_ADMIN_USER']">
      <span class="btn btn-box-tool"
            *ngIf="(user | async).id === comment.author.id"
            (click)="onEditCommentClickHandler($event)">
        <i class="fa fa-edit"></i>
      </span>
      <span class="btn btn-box-tool" (click)="onDeleteClickHandler($event)">
        <i class="fa fa-trash"></i>
      </span>
    </div>

    <ng-container *ngxPermissionsExcept="['ROLE_ADMIN_USER']">
      <div class="controls" *ngIf="(user | async).id === comment.author.id">
        <span class="btn btn-box-tool" (click)="onEditCommentClickHandler($event)">
          <i class="fa fa-edit"></i>
        </span>
        <span class="btn btn-box-tool" (click)="onDeleteClickHandler($event)">
          <i class="fa fa-trash"></i>
        </span>
      </div>
    </ng-container>

  </ng-container>

</div>


