<app-company-common-layout>

  <ng-container *ngIf="!!complaint">

    <div class="box box-primary details">
      <div class="box-header with-border">
        <h3 class="box-title">{{ complaint.region.title }} <span class="text-muted">({{ complaint.region.federalDistrict.title }})</span></h3>
      </div>
      <div class="box-body">
        <p>
          <app-complaint-map-view [complaint]="complaint"></app-complaint-map-view>
        </p>
        <p>
          <b class="section-head">{{ 'ADDRESS' | translate }}</b>
          <span>
            {{ complaint.address.displayName }}
          </span>
        </p>

        <p>
          <b class="section-head">{{ 'AUTHOR' | translate }}</b>
          <span class="text text-primary">{{ complaint.client.fullName }}</span>
        </p>
        <p *ngIf="!!complaint.serviceType">
          <b class="section-head">{{ 'SERVICE_TYPE' | translate }}</b>
          <span class="text text-primary">{{ complaint.serviceType.title }}</span>
        </p>
        <b class="section-head">{{ 'MESSAGE' | translate }}</b>
        <p class="text detailed-message" [innerHTML]="complaint.message | multiLine">
        </p>
        <p *ngIf="complaint.pictures.length > 0">
          <b>{{ 'PHOTOS' | translate }}</b>
          <app-picture-list [list]="complaint.pictures"></app-picture-list>
        </p>
        <p>
          <b>{{ 'VIDEOS' | translate }}</b>
          <app-video-list [list]="complaint.videos"></app-video-list>
        </p>
      </div>

      <div class="box-footer">
        <div class="inline">
          <div class="label label-primary margin-r-5 inline"
               *ngFor="let tag of complaint.tags"
          >{{ tag.title }}</div>
        </div>

        <small class="pull-right text-muted" app-date-time [value]="complaint.createdAt"></small>
      </div>
    </div>

  </ng-container>

</app-company-common-layout>