<app-admin-common-layout>
  <div class="box box-primary" *ngIf="!!(account | async)">

    <div class="box-header with-border">
      <h3 class="box-title">
        {{ (account | async).fullName }}

        <span class="text-muted" *ngIf="(account | async).isClient()">({{ 'CLIENT_ACCOUNT' | translate }})</span>
        <span class="text-muted" *ngIf="(account | async).isCompanyRepresentative()">({{ 'COMPANY_REPRESENTATIVE_ACCOUNT' | translate }})</span>
        <span class="text-muted" *ngIf="(account | async).isAnalyst()">({{ 'ANALYST_ACCOUNT' | translate }})</span>
      </h3>
      <div class="box-tools pull-right">
        <a
                [routerLink]="'/admin/account/company-representative/' + (account | async).id + '/edit'"
                *ngIf="(account | async).isCompanyRepresentative()"
        ><i class="fa fa-edit"></i></a>
        <a
                [routerLink]="'/admin/account/analyst/' + (account | async).id + '/edit'"
                *ngIf="(account | async).isAnalyst()"
        ><i class="fa fa-edit"></i></a>
      </div>
    </div>

    <div class="box-body">

      <p>
        <b>{{ 'EMAIL' | translate }}</b>
        <br/>
        <span class="text-primary">{{ (account | async).email }}</span>
      </p>

      <p *ngIf="(account | async).isClient()">
        <b>{{ 'PHONE_NUMBER' | translate }}</b>
        <br/>
        <span *ngIf="!!(account | async).phoneNumber; else noPhone;">{{ (account | async).phoneNumber }}</span>
        <ng-template #noPhone>
          <span class="text-muted">({{ 'NONE' | translate }})</span>
        </ng-template>
      </p>

      <p>
        <b>{{ 'ACTIVE' | translate }}</b>
        <br/>
        <app-account-active-switcher [account]="(account | async)"></app-account-active-switcher>
      </p>

      <p *ngIf="(account | async).isCompanyRepresentative()">
        <b>{{ 'COMPANY' | translate }}</b>
        <br/>
        <span class="text-primary">{{ (account | async).company.title }}</span>
        <br/>
        <span *ngFor="let administrativeUnit of (account | async).company.administrativeUnits">
          {{ administrativeUnit.title }} - ({{administrativeUnit.region.title}}) </span>
      </p>

      <p>
        <b>{{ 'PASSWORD' | translate }}</b>
        <br/>
        <span class="btn btn-danger" (click)="onResetPasswordClickHandler($event)">{{ 'RESET_PASSWORD' | translate }}</span>
      </p>

    </div>
    <div class="box-footer">
      <span class="pull-right small" app-date-time [value]="(account | async).createdAt"></span>
    </div>

  </div>

  <ng-template #resetPasswordWindow let-modal>
    <app-account-reset-password
            [account]="(account | async)"
            (onPasswordReset)="onPasswordResetHandler($event)"
    ></app-account-reset-password>
  </ng-template>
</app-admin-common-layout>