<div class="row">
  <div class="col-md-4">
    <label>Period</label>
    <app-date-range-picker (onChange)="onDatePeriodChangeHandler($event); onChangeHandler($event)"></app-date-range-picker>
  </div>
  <div class="col-md-6">
    <label for="popularField">Populars</label>
    <br>
    <input
            id="popularField"
            type="checkbox"
            [(ngModel)]="selectedPopular"
            name="isActive"
            (ngModelChange)="onPopularChangeHandler($event); onChangeHandler($event)"
    >
  </div>
</div>