<app-map-balloon [colorStyle]="'issue'"
                 [color]="'orange'"
                 [isCollapsed]="true"
                 [populateCollapsing]="true"
                 [location]="issue.location"
                 [hasToCenteredOnOpen]="true"
>

  <div class="balloon-title" title="{{ issue.address.displayName }}">
    <a [routerLink]="'/client/issue/' + issue.id">{{ 'ISSUE' | translate }}</a>
  </div>

  <div class="balloon-content">
    <p class="text-primary">{{ issue.client.fullName }}</p>

    <p class="text-muted">{{
      issue.message.length > 150 ?
              (issue.message | slice:0:150) + '...'
              : issue.message }}
      <a [routerLink]="'/client/issue/' + issue.id">{{ 'MORE' | translate }}...</a>
    </p>

    <p *ngIf="issue.complaintConfirmations.length > 0" title="{{ 'SIGNATURES' | translate }}">
      <app-issue-signature-progress [issue]="issue"></app-issue-signature-progress>
    </p>

    <p *ngIf="(issue.pictures.length > 0) || (issue.videos.length > 0)">
      <ng-container *ngIf="issue.pictures.length > 0">
        <div>
          <app-picture-item
                  *ngFor="let picture of issue.pictures | slice:0:5"
                  [picture]="picture" [size]="'previewExtraSmall'">
          </app-picture-item>
        </div>
        <div>
          <span class="small" *ngIf="issue.pictures.length > 0">{{ issue.pictures.length }} {{ 'PHOTO' | translate }}&nbsp;</span>
        </div>
      </ng-container>
      <ng-container *ngIf="issue.videos.length > 0">

        <div>
          <app-video-item *ngFor="let video of issue.videos | slice:0:5" [video]="video" [size]="'extra-small'"></app-video-item>
        </div>

        <div>
          <span class="small" *ngIf="issue.videos.length > 0">{{ issue.videos.length }} {{ 'VIDEO' | translate }}</span>
        </div>

      </ng-container>
    </p>

    <p class="text-primary" *ngIf="!!issue.serviceType">{{ issue.serviceType.title }}</p>

  </div>

  <div class="balloon-footer">
    <div class="pull-left">
      <small class="text-muted">{{ issue.likeNumber }} {{ 'LIKE' | translate }}, </small>
      <small class="text-muted">{{ issue.commentNumber }} {{ issue.commentNumber | noun:('COMMENT_ONE' | translate):('COMMENT_TWO'|translate):('COMMENT_FIVE' | translate) }}</small>
    </div>
    <div class="pull-right">
      <small class="text-muted" app-date-time [value]="issue.createdAt"></small>
    </div>
  </div>

  <div class="balloon-mark" app-default-issue-mark [issue]="issue"></div>

</app-map-balloon>
