<div class="login-box">
  <app-security-common-header></app-security-common-header>

  <div class="login-box-body">
    <p class="login-box-msg">{{ 'PASSWORD_RECOVERY' | translate }}</p>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="!requestSuccess; else requestSuccessTemplate;">
      <div class="form-group has-feedback">
        <input
                ngModel
                name="email"
                email
                required
                type="email"
                class="form-control"
                placeholder="{{ 'EMAIL' | translate }}"
        >
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <app-form-field-error-list [field]="'email'" [errors]="errors"></app-form-field-error-list>
      </div>
      <div class="row">
        <div class="col-xs-8">

        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid || isRequesting">{{ 'SUBMIT_OK' | translate }}</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <ng-template #requestSuccessTemplate>
      <p class="alert alert-success">{{ 'MESSAGE_WITH_PASSWORD_RECOVERY_WAS_SENT' | translate }}</p>
    </ng-template>

    <div class="box-body footer-links">

      <div class="pull-left">
        <a routerLink="/security/login" class="text-center">{{ 'LOGIN' | translate }}</a>
      </div>
      <div class="pull-right">
        <a routerLink="/security/register" class="text-center">{{ 'REGISTER' | translate }}</a>
      </div>

    </div>

  </div>
</div>