<div class="login-box">
  <div class="login-logo">
    <span><b>Red</b>Button</span>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Password Recovery</p>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="!requestSuccess; else requestSuccessTemplate;">
      <div class="form-group has-feedback">
        <input
                ngModel
                name="email"
                email
                required
                type="email"
                class="form-control"
                placeholder="Email"
        >
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <app-form-field-error-list [field]="'email'" [errors]="errors"></app-form-field-error-list>
      </div>
      <div class="row">
        <div class="col-xs-8">

        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid || isRequesting">Ok</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <ng-template #requestSuccessTemplate>
      <p class="alert alert-success">The message with password restore information was sent on your email</p>
    </ng-template>
    <a routerLink="/security/login" class="text-center">Back to login</a>
    <br/>
    <a routerLink="/security/register" class="text-center">Register</a>
  </div>
</div>