<div *ngIf="!!region" class="address-info-container">
  <span class="text text-primary">{{ region.title }}</span><span class="text-muted">({{ region.federalDistrict.title }})</span>
  <br />
  <span class="text-muted">{{ address.displayName }}</span>
</div>
<div>
  <span class="btn btn-primary" (click)="onChooseButtonClickHandler($event)">Choose a location</span>
</div>

<app-geo-location-selector [defaultLocation]="location" (onAddressSelect)="onAddressSelectHandler($event)"></app-geo-location-selector>
