<app-client-common-layout>
  <div>

    <div infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [infiniteScrollDisabled]="infinityScrollDisabled"
         (scrolled)="onScroll()"
    >

      <div *ngFor="let issue of list">
        <app-issue-item [issue]="issue" (onDelete)="onDeleteHandler($event)"></app-issue-item>
      </div>

    </div>

    <p class="alert alert-info" *ngIf="total === 0">{{ 'YOU_HAVE_NO_ISSUES' | translate}}! <a routerLink="/client/issue/create">{{ 'ADD_NEW_ONE' | translate}}</a></p>

  </div>
</app-client-common-layout>
