<form (ngSubmit)="onSubmitHandler(form)" #form="ngForm">
      <div class="form-group">
        <textarea
                id="message"
                class="form-control"
                [(ngModel)]="_comment.message"
                placeholder="Enter your message..."
                name="message"
                required
        ></textarea>
        <app-form-field-error-list [errors]="errors" [field]="'message'"></app-form-field-error-list>
      </div>

    <div>
      <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!form.valid"
      >Save</button>&nbsp;
      <span
              class="btn btn-default"
              (click)="onCancelClickHandler($event)"
              *ngIf="withCancel"
      >Cancel</span>
    </div>

</form>