<app-client-common-layout>

    <div class="box box-primary">

        <div class="box-body">

            <app-map #map
                     [defaultCenter]="defaultCenter"
                     (onReady)="onMapReadyHandler($event)"
                     (onViewBoxChange)="onViewBoxChangeHandler($event)"
            ></app-map>

            <div class="search-filter-container">
                <app-client-geo-search-filter (onChange)="onSearchFilterChangeHandler($event)"></app-client-geo-search-filter>
            </div>

        </div>

    </div>

</app-client-common-layout>