<header class="main-header">
  <!-- Logo -->
  <a routerLink="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>R</b>BT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Red</b>BUTTON</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">





          <ng-container *ngxPermissionsOnly="['ROLE_CLIENT_USER']">

              <li [routerLinkActive]="'active'">
                  <a routerLink="/client/geo" class="btn" title="{{ 'ON_THE_MAP' | translate }}"><i class="fa fa-map-marker"></i></a>
              </li>

              <li class="dropdown notifications-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" title="{{ 'SIGNATURE_REQUESTS' | translate }}">
                      <i class="fa fa-bell-o"></i>
                      <ng-container *ngIf="(clientCommonInfo | async) !== null">
                          <span class="label label-warning" *ngIf="(clientCommonInfo | async).confirmationNumber > 0">{{ (clientCommonInfo | async).confirmationNumber }}</span>
                      </ng-container>
                  </a>

                  <ng-container *ngIf="(clientCommonInfo | async) !== null">

                      <ul class="dropdown-menu">

                          <ng-container *ngIf="(clientCommonInfo | async).confirmations.length > 0; else noConfirmations">
                              <li class="header">{{ 'YOU_HAVE_NUMBER_SIGNATURE_REQUESTS' | translate }} <b>{{ (clientCommonInfo | async).confirmations.length }} {{ (clientCommonInfo | async).confirmations.length | noun:("REQUEST_ONE" | translate):("REQUEST_TWO" | translate):("REQUEST_FIVE" | translate) }}</b>
                                  {{ 'YOU_HAVE_NUMBER_SIGNATURE_REQUESTS_TO_SIGN' | translate }}
                              </li>
                              <li>
                                  <!-- inner menu: contains the actual data -->
                                  <ul class="menu">

                                      <li *ngFor="let confirmation of (clientCommonInfo | async).confirmations">

                                          <app-signature-request [confirmation]="confirmation"></app-signature-request>
                                      </li>
                                  </ul>
                              </li>
                          </ng-container>

                          <ng-template #noConfirmations>
                              <li class="header">{{ 'NO_REQUESTS_TO_SIGN' | translate }}</li>
                          </ng-template>

                      </ul>

                  </ng-container>


              </li>


              <li [routerLinkActive]="'active'">
                  <a routerLink="/client/issue/create" class="btn"><i class="fa fa-plus"></i> {{ 'ISSUE_MENU' | translate }} ({{ 'FOR_ACTIVISTS' | translate }})</a>
              </li>
              <li [routerLinkActive]="'active'">
                  <a routerLink="/client/complaint/create" class="btn bg-red"><i class="fa fa-warning"></i> {{ 'TO_COMPLAIN' | translate }}</a>
              </li>

              <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <!--            <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                      <span class="hidden-xs">{{ (user | async).fullName }}</span>
                  </a>
                  <ul class="dropdown-menu">

                      <li class="user-footer">
                          <div class="pull-left">
                              <a routerLink="/client/profile" class="btn btn-default btn-flat">{{ 'PROFILE' | translate }}</a>
                          </div>
                          <div class="pull-right">
                              <span (click)="onLogoutClickHandler()" class="btn btn-default btn-flat">{{ 'SIGN_OUT'| translate }}</span>
                          </div>
                      </li>
                  </ul>
              </li>


          </ng-container>



          <ng-container *ngxPermissionsOnly="['ROLE_ADMIN_USER']">


              <li class="dropdown notifications-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                      <i class="fa fa-plus"></i> {{ 'ACCOUNT' | translate }}
                  </a>
                  <ul class="dropdown-menu">
                      <li class="header">{{ 'ACCOUNT_TYPE' | translate }}</li>
                      <li>
                          <ul class="menu">
                              <li title="{{ 'COMPANY_REPRESENTATIVE_ACCOUNT' | translate }}">
                                  <a [routerLink]="'/admin/account/company-representative/create'"><i class="fa fa-users text-aqua"></i> {{ 'COMPANY_REPRESENTATIVE_ACCOUNT' | translate }}</a>
                              </li>
                              <li title="{{ 'ANALYST_ACCOUNT' | translate }}">
                                  <a [routerLink]="'/admin/account/analyst/create'"><i class="fa fa-users text-red"></i> {{ 'ANALYST_ACCOUNT' | translate }}</a>
                              </li>

                          </ul>
                      </li>
                      <li class="footer"></li>
                  </ul>
              </li>


              <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <!--            <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                      <span class="hidden-xs">{{ (user | async).fullName }}</span>
                  </a>
                  <ul class="dropdown-menu">

                      <li class="user-footer">
<!--                          <div class="pull-left">-->
<!--                              <a routerLink="/admin/profile" class="btn btn-default btn-flat">{{ 'PROFILE' | translate }}</a>-->
<!--                          </div>-->
                          <div>
                              <span (click)="onLogoutClickHandler()" class="btn btn-default btn-flat center-block">{{ 'SIGN_OUT' | translate }}</span>
                          </div>
                      </li>
                  </ul>
              </li>

          </ng-container>

          <ng-container *ngxPermissionsOnly="['ROLE_COMPANY_REPRESENTATIVE_USER']">


              <li [routerLinkActive]="'active'">
                  <a routerLink="/company/issue/geo" class="btn"><i class="fa fa-map-marker"></i>
                      <ng-container *ngIf="(companyCommonInfo | async) !== null">
                          <span class="label label-warning" *ngIf="(companyCommonInfo | async).issueNumber > 0">{{ (companyCommonInfo | async).issueNumber }}</span>
                      </ng-container>
                  </a>
              </li>

              <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <!--            <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                      <span class="hidden-xs">{{ (user | async).fullName }} </span><b class="small">({{ (user | async).company.title }})</b>
                  </a>
                  <ul class="dropdown-menu">

                      <li class="user-footer">
                          <div>
                              <span (click)="onLogoutClickHandler()" class="btn btn-default btn-flat center-block">{{ 'SIGN_OUT' | translate }}</span>
                          </div>
                      </li>
                  </ul>
              </li>

          </ng-container>


          <ng-container *ngxPermissionsOnly="['ROLE_ANALYST_USER']">

              <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <!--            <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                      <span class="hidden-xs">{{ (user | async).fullName }} </span><b class="small">({{ 'ANALYTICS'| translate }})</b>
                  </a>
                  <ul class="dropdown-menu">

                      <li class="user-footer">
                          <div>
                              <span (click)="onLogoutClickHandler()" class="btn btn-default btn-flat center-block">{{ 'SIGN_OUT' | translate }}</span>
                          </div>
                      </li>
                  </ul>
              </li>

          </ng-container>

      </ul>
    </div>
  </nav>
</header>
