<header class="main-header">
  <!-- Logo -->
  <a routerLink="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>R</b>BT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Red</b>BUTTON</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">





          <ng-container *ngxPermissionsOnly="['ROLE_CLIENT_USER']">


              <li class="dropdown notifications-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" title="Signature Requests">
                      <i class="fa fa-bell-o"></i>
                      <ng-container *ngIf="(clientCommonInfo | async) !== null">
                          <span class="label label-warning" *ngIf="(clientCommonInfo | async).confirmationNumber > 0">{{ (clientCommonInfo | async).confirmationNumber }}</span>
                      </ng-container>
                  </a>

                  <ng-container *ngIf="(clientCommonInfo | async) !== null">

                      <ul class="dropdown-menu">

                          <ng-container *ngIf="(clientCommonInfo | async).confirmations.length > 0; else noConfirmations">
                              <li class="header">You have {{ (clientCommonInfo | async).confirmations.length }} request(s)</li>
                              <li>
                                  <!-- inner menu: contains the actual data -->
                                  <ul class="menu">

                                      <li *ngFor="let confirmation of (clientCommonInfo | async).confirmations">

                                          <app-signature-request [confirmation]="confirmation"></app-signature-request>
                                      </li>
                                  </ul>
                              </li>
                          </ng-container>

                          <ng-template #noConfirmations>
                              <li class="header">No new confirmations</li>
                          </ng-template>

                      </ul>

                  </ng-container>


              </li>


              <li [routerLinkActive]="'active'">
                  <a routerLink="/client/issue/create" class="btn"><i class="fa fa-plus"></i> Issue</a>
              </li>
              <li [routerLinkActive]="'active'">
                  <a routerLink="/client/complaint/create" class="btn bg-red"><i class="fa fa-plus"></i> Complaint</a>
              </li>

              <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <!--            <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                      <span class="hidden-xs">{{ (user | async).fullName }}</span>
                  </a>
                  <ul class="dropdown-menu">

                      <li class="user-footer">
                          <div class="pull-left">
                              <a routerLink="/client/profile" class="btn btn-default btn-flat">Profile</a>
                          </div>
                          <div class="pull-right">
                              <span (click)="onLogoutClickHandler()" class="btn btn-default btn-flat">Sign out</span>
                          </div>
                      </li>
                  </ul>
              </li>


          </ng-container>

      </ul>
    </div>
  </nav>
</header>
