<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <span><b>Red</b>Button</span>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Reset your password</p>

      <ng-container *ngIf="currentState === 'checking_key'">
        <p class="alert alert-info">Checking link...</p>
      </ng-container>

      <ng-container *ngIf="currentState === 'invalid_key'">
        <p class="alert alert-danger">The key is invalid</p>
      </ng-container>

      <ng-container *ngIf="currentState === 'success'">
        <p class="alert alert-success">You have reset your password!</p>
      </ng-container>

      <form #form="ngForm" (ngSubmit)="onSubmitHandler(form)" *ngIf="currentState === 'input'">
        <app-form-field-error-list [field]="'key'" [errors]="errors"></app-form-field-error-list>
        <div class="form-group has-feedback">
          <input
                  ngModel
                  name="password"
                  autocomplete
                  required
                  type="password"
                  class="form-control"
                  placeholder="Password"
          >
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <app-form-field-error-list [field]="'password'" [errors]="errors.plainPassword ? errors.plainPassword : {}"></app-form-field-error-list>
        </div>

        <div class="form-group has-feedback">
          <input
                  ngModel
                  name="passwordRepeat"
                  autocomplete
                  required
                  type="password"
                  class="form-control"
                  placeholder="Retype password"
          >
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          <app-form-field-error-list [field]="'passwordRepeat'" [errors]="errors.plainPassword ? errors.plainPassword : {}"></app-form-field-error-list>
        </div>
        <div class="row">
          <div class="col-xs-6">
          </div>
          <!-- /.col -->
          <div class="col-xs-6">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid || isRequesting">Reset Password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!--            <a href="#">I forgot my password</a><br>-->
      <a routerLink="/security/login" class="text-center">Back to login</a>
      <br/>
      <a routerLink="/security/register" class="text-center">Register</a>
    </div>
  </div>
</div>
