<section class="content-header">
  <h1>
    {{ title | async }}
    <small>{{ subTitle | async }}</small>
  </h1>
  <ng-container *ngIf="(breadCrumbs|async).length > 0">
    <ol class="breadcrumb">
      <li *ngFor="let item of (breadCrumbs|async); last as isLast" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a *ngIf="!isLast" routerLink="{{ item.route }}"><i [ngClass]="'fa fa-' + item.icon"></i> {{ item.title }}</a>
        <span *ngIf="isLast" class="text-muted"><i [ngClass]="'fa fa-' + item.icon"></i> {{ item.title }}</span>
      </li>
    </ol>
  </ng-container>
</section>
