<app-map-balloon [colorStyle]="
    currentState === 'STATE_LOCATION_DETECTED_SUCCESS' ? 'issue' :
    currentState === 'STATE_LOCATION_DETECTED_ERROR' ? 'danger' : 'default'"
    [(isCollapsed)]="isCollapsed"
    [populateCollapsing]="false"
    [location]="issue.location"
    [hasToCenteredOnOpen]="true"
>

  <div class="balloon-title">

    <ng-container *ngIf="currentState === 'STATE_LOADING'"></ng-container>
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_SUCCESS'">{{ 'ISSUE' | translate }}</ng-container>
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_ERROR'">{{ 'CANNOT_IDENTIFY_THE_REGION' | translate }}!</ng-container>

  </div>

  <div class="balloon-content">

    <ng-container *ngIf="currentState === 'STATE_LOADING'">
      <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_SUCCESS'">
      <div>
        {{ issue.region.title }}<span class="text-muted">({{ issue.region.federalDistrict.title }})</span>
      </div>
      <div>
        <span class="text-muted">{{ issue.address.displayName }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_ERROR'">
      {{ 'CANNOT_IDENTIFY_THE_REGION_USE_ONLY_RUSSIAN_AREA' | translate}}
    </ng-container>

  </div>

  <div class="balloon-footer">
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_SUCCESS'">
      <p>
        <span class="text-muted"><b>{{ 'REQUEST_SIGNATURES_FROM_PEOPLE_NEAR_BY' | translate }}</b></span>
      </p>
      <span class="btn btn-success margin-r-5" (click)="onCollapseClickHandler($event)">
        <i class="fa fa-minus"></i> {{ 'COLLAPSE' | translate }}
      </span>
      <span class="btn btn-danger" (click)="onCancelClickHandler($event)">
        <i class="fa fa-remove"></i> {{ 'CANCEL' | translate }}
      </span>
    </ng-container>
  </div>

</app-map-balloon>
