<app-map-balloon [colorStyle]="
    currentState === 'STATE_LOCATION_DETECTED_SUCCESS' ? 'issue' :
    currentState === 'STATE_LOCATION_DETECTED_ERROR' ? 'danger' : 'default'">

  <div class="balloon-title">

    <ng-container *ngIf="currentState === 'STATE_LOADING'"></ng-container>
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_SUCCESS'">Issue Location</ng-container>
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_ERROR'">Cannot identify the region!</ng-container>

  </div>

  <div class="balloon-content">

    <ng-container *ngIf="currentState === 'STATE_LOADING'">
      <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_SUCCESS'">
      <div>
        {{ issue.region.title }}<span class="text-muted">({{ issue.region.federalDistrict.title }})</span>
      </div>
      <div>
        <span class="text-muted">{{ issue.address.displayName }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_ERROR'">
      Cannot identify the region! Try only to choose location in a Russia!
    </ng-container>

  </div>

  <div class="balloon-footer">
    <ng-container *ngIf="currentState === 'STATE_LOCATION_DETECTED_SUCCESS'">
      <span class="btn btn-danger" (click)="onCancelClickHandler($event)">
        <i class="fa fa-remove"></i> Cancel
      </span>
    </ng-container>
  </div>

</app-map-balloon>
