<form appPreventEnterSubmitForm (ngSubmit)="onSubmitHandler($event)" #form="ngForm">
  <div class="box-body">
    <div class="form-group">
      <label>{{ 'SELECT_GEO_LOCATION' | translate }}</label>
      <app-geo-location-selector-field
              [complaint]="complaint"
              (onAddressSelect)="onFieldValueChangeHandler($event)"></app-geo-location-selector-field>
      <app-form-field-error-list [field]="'location'" [errors]="errors"></app-form-field-error-list>
    </div>

    <div class="form-group">
      <label>{{ 'SELECT_SERVICE_TYPE' | translate }} <span class="text-muted">({{ 'OPTIONAL' | translate }})</span></label>
      <select
              class="form-control"
              [(ngModel)]="complaint.serviceType"
              [compareWith]="compareServiceTypes"
              [required]="false"
              (ngModelChange)="onFieldValueChangeHandler($event)"
              name="selectedServiceType"
              id="selectedServiceType"
      >
        <option [value]="null">-</option>
        <option *ngFor="let serviceType of serviceTypes | async" [ngValue]="serviceType">{{ serviceType.title }}</option>
      </select>
      <app-form-field-error-list [field]="'serviceType'" [errors]="errors"></app-form-field-error-list>
    </div>

    <div class="form-group">
      <label for="complaintMessage">{{ 'YOUR_MESSAGE' | translate }}</label>
      <textarea class="form-control"
                required
                id="complaintMessage"
                [(ngModel)]="complaint.message"
                name="complaintMessage"
                (ngModelChange)="onFieldValueChangeHandler($event)"
      ></textarea>
      <app-form-field-error-list [field]="'message'" [errors]="errors"></app-form-field-error-list>
    </div>

    <div class="form-group">
      <label>{{ 'ATTACH_PICTURES' | translate }} <span class="text-muted">({{ 'OPTIONAL' | translate }})</span></label>
      <app-complaint-pictures-field
              [pictures]="complaint.pictures"
              (onChange)="onFieldValueChangeHandler($event)"
      ></app-complaint-pictures-field>
      <app-form-field-error-list [field]="'pictures'" [errors]="errors"></app-form-field-error-list>
    </div>

    <div class="form-group">
      <label>{{ 'ATTACH_VIDEO_MATERIALS' | translate }} <span class="text-muted">({{ 'OPTIONAL' | translate }})</span></label>
      <app-video-list-field
              [list]="complaint.videos"
              (onChange)="onFieldValueChangeHandler($event)"
      ></app-video-list-field>
      <app-form-field-error-list [field]="'videos'" [errors]="errors"></app-form-field-error-list>
    </div>

    <div class="form-group">
      <label>{{ 'POINT_HASH_TAGS' | translate }} <span class="text-muted">({{ 'OPTIONAL' | translate }})</span></label>
      <app-tag-list-field
              [tags]="complaint.tags"
              (onChange)="onFieldValueChangeHandler($event)"
      ></app-tag-list-field>
    </div>
  </div>

  <div class="box-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!isValid()">{{ 'SUBMIT_OK' | translate }}</button>
  </div>

</form>
