<div class="upload-item">
  <div class="preview-container">
    <ng-content></ng-content>
  </div>
  <div class="progress">
    <div
            class="progress-bar
      progress-bar-striped progress-bar-animated"
            role="progressbar"
            [attr.aria-valuenow]="uploadItem.percentageProgress"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{width: uploadItem.percentageProgress + '%'}">{{ uploadItem.percentageProgress + '%' }}</div>
  </div>
  <div class="uploading-errors" *ngIf="uploadItem.errors !== null">
    <div class="uploading-error">{{ uploadItem.errors }}</div>
  </div>
</div>
