.item
{
    position: relative;
}

.item .preview-container
{
    text-align: center;
}
.item .preview-container img
{
    width: 100%;
}

.close
{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #cccccc;
    opacity: 1 !important;
}
