<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Choose a Company</h3>
  </div>

  <form (ngSubmit)="onSubmitHandler(form)" #form="ngForm">

    <div class="box-body">
      <div class="form-group url-form-field">
        <label for="company-search">Company Name</label>
        <input
                #inputElement
                id="company-search"
                type="text"
                class="form-control"
                name="company"
                [(ngModel)]="model"
                [ngbTypeahead]="search"
                [inputFormatter]="formatter"
                [resultFormatter]="formatter"
                (selectItem)="onItemSelectHandler($event)"
                (keydown.enter)="onEnterHandler($event)"

        />
      </div>
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Ok</button>
    </div>

  </form>

</div>