<app-map-balloon>
  <div class="map-selected-location">

    <div class="box box-default box-container" *ngIf="currentState === 'STATE_LOADING'">
      <div class="box-header">
        <h3 class="box-title">Loading...</h3>
      </div>
      <div class="box-body">

      </div>
      <!-- /.box-body -->
      <!-- Loading (remove the following to stop the loading)-->
      <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>



    <div class="box box-success box-container" *ngIf="currentState === 'STATE_LOCATION_DETECTED_SUCCESS'">
      <div class="box-header with-border">
        <h3 class="box-title">Confirm the location</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>

      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div>
          {{ region.title }}<span class="text-muted">({{ region.federalDistrict.title }})</span>
        </div>
        <div>
          <span class="text-muted">{{ address.displayName }}</span>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <span class="btn btn-success" (click)="onConfirmAddressClick($event)">Confirm</span>
      </div>
    </div>


    <div class="box box-danger box-container" *ngIf="currentState === 'STATE_LOCATION_DETECTED_ERROR'">
      <div class="box-header with-border">
        <h3 class="box-title">Cannot identify the region!</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>

      </div>
      <!-- /.box-header -->
      <div class="box-body">
        Cannot identify the region! Try only to choose location in a Russia!
      </div>
      <!-- /.box-body -->
    </div>
  </div>

</app-map-balloon>
