<app-map-balloon
        [isCollapsed]="true"
        [hasToCenteredOnOpen]="true"
        [location]="complaint.location"
        [colorStyle]="'primary'"
>

  <div class="balloon-title">
    {{ 'COMPLAINT' | translate }}
  </div>

  <div class="balloon-content">
    <p class="text-primary">{{ complaint.client.fullName }}</p>
    <p class="text-muted">{{
      complaint.message.length > 150 ?
              (complaint.message | slice:0:150) + '...'
              : complaint.message }}
      <a [routerLink]="'/client/complaint/' + complaint.id.toString()" [target]="'_blank'">{{ 'MORE' | translate }}...</a>
    </p>
    <p>
      <ng-container *ngIf="complaint.pictures.length > 0">
        <div>
          <app-picture-item
                  *ngFor="let picture of complaint.pictures | slice:0:5"
                  [picture]="picture" [size]="'previewExtraSmall'">
          </app-picture-item>
        </div>
        <div>
          <span class="small" *ngIf="complaint.pictures.length > 0">{{ complaint.pictures.length }} {{ 'PHOTO' | translate }}&nbsp;</span>
        </div>
      </ng-container>

      <ng-container *ngIf="complaint.videos.length > 0">

        <div>
          <app-video-item *ngFor="let video of complaint.videos | slice:0:5" [video]="video" [size]="'extra-small'"></app-video-item>
        </div>

        <div>
          <span class="small" *ngIf="complaint.videos.length > 0">{{ complaint.videos.length }} {{ 'VIDEO' | translate }}</span>
        </div>

      </ng-container>
    </p>
    <div>
      <small class="text-primary pull-left" *ngIf="!!complaint.serviceType">{{ complaint.serviceType.title }}</small>
      <small class="pull-right text-muted" app-date-time [value]="complaint.createdAt"></small>
    </div>
  </div>

  <div class="balloon-footer">
    <ng-container *ngIf="withRequestSignatureControl">
      <span class="btn btn-primary" (click)="onRequestButtonClickHandler($event)" *ngIf="!!isRequestingSignatureAvailable && isRequestingSignatureAvailable(complaint)">
        <i class="fa fa-plus"></i> {{ 'REQUEST_SIGNATURE' | translate }}
      </span>
      <span class="btn btn-default disabled" *ngIf="!!isRequestingSignatureAvailable && !isRequestingSignatureAvailable(complaint)" title="{{ 'YOU_HAVE_ALREADY_REQUESTED_A_SIGNATURE_FROM_THIS_USER' | translate }}!">
        <i class="fa fa-warning"></i> {{ 'REQUEST_SIGNATURE' | translate }}
      </span>
    </ng-container>

  </div>

  <div class="balloon-mark" app-default-complaint-mark [complaint]="complaint">
  </div>

</app-map-balloon>
