<table class="table table-hover">
  <tbody>
    <tr>
      <th [ngStyle]="{ minWidth: '40px' }">#</th>
      <th>{{ 'EMAIL' | translate }}</th>
      <th>{{ 'FULL_NAME' | translate }}</th>

      <ng-container *ngIf="accountType === 'company-representative'">
        <th>{{ 'COMPANY' | translate }}</th>
      </ng-container>

      <ng-container *ngIf="accountType === 'client'">
        <th>{{ 'PHONE_NUMBER' | translate }}</th>
      </ng-container>

      <th>{{ 'ACTIVE' | translate }}</th>
      <th>{{ 'CREATED' | translate }}</th>

      <ng-container *ngIf="accountType !== 'client'">
        <th>{{ 'TO_CONTROL' | translate }}</th>
      </ng-container>

    </tr>

    <tr *ngFor="let account of list">

      <td>
        <a [routerLink]="'/admin/account/' + account.id" class="center-block">{{ account.id }}</a>
      </td>
      <td>
        <span class="text text-primary">{{ account.email }}</span>
      </td>
      <td>{{ account.fullName }}</td>

      <ng-container *ngIf="accountType === 'company-representative'">
        <td>
          <span class="text text-primary">{{ account.company.title }}</span>
        </td>
      </ng-container>

      <ng-container *ngIf="accountType === 'client'">
        <td>
          <span *ngIf="!!account.phoneNumber; else noPhone;">{{ account.phoneNumber }}</span>
          <ng-template #noPhone>
            <span class="text-muted">-</span>
          </ng-template>
        </td>
      </ng-container>

      <td>
        <app-account-active-switcher [account]="account"></app-account-active-switcher>
      </td>

      <td app-date-time [value]="account.createdAt"></td>
      <ng-container *ngIf="accountType !== 'client'">
        <td>
          <div class="box-tools">


              <a [routerLink]="'/admin/account/' + accountType + '/' + account.id + '/edit'" class="btn btn-box-tool"><i class="fa fa-edit"></i></a>

          </div>
        </td>
      </ng-container>
    </tr>


  </tbody>

</table>