<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group has-feedback">
    <input
            id="emailInput"
            ngModel
            name="email"
            email
            required
            type="email"
            class="form-control"
            placeholder="{{ 'EMAIL' | translate }}">
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <input
            id="passwordInput"
            ngModel
            name="password"
            autocomplete
            required
            type="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}">
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    <app-form-field-error-list [field]="'message'" [errors]="errors"></app-form-field-error-list>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="checkbox icheck" style="padding-left: 20px">
        <label>
          <input
                  type="checkbox"
                  ngModel
                  name="rememberMe"
          > {{ 'REMEMBER_ME' | translate }}
        </label>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-6">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">{{ 'SING_IN' | translate }}</button>
    </div>
    <!-- /.col -->
  </div>
</form>
