<app-analyst-common-layout>

  <ng-container *ngIf="!!issue">

    <div class="box box-primary details">


      <div class="box-header with-border">
        <h3 class="box-title">{{ issue.region.title }} <span class="text-muted">({{ issue.region.federalDistrict.title }})</span></h3>

      </div>


      <div class="box-body">

        <p>
          <app-issue-map-view [issue]="issue"></app-issue-map-view>
        </p>

        <p>
          <b class="section-head">{{ 'ADDRESS' | translate }}</b>
          <span>{{ issue.address.displayName }}</span>
        </p>

        <p>
          <b class="section-head">{{ 'AUTHOR' | translate }}</b>
          <span class="text text-primary">{{ issue.client.fullName }}</span>
        </p>
        <p>
          <b class="section-head">{{ 'SIGNATURES' | translate }}</b>
          <app-issue-signature-list [issue]="issue"></app-issue-signature-list>
        </p>
        <p>
          <b class="section-head">{{ 'SERVICE_TYPE' | translate }}</b>
          <span class="text text-primary" *ngIf="!!issue.serviceType; else noServiceType">{{ issue.serviceType.title }}</span>
          <ng-template #noServiceType>
            <span class="text-muted">({{ 'NONE' | translate }})</span>
          </ng-template>
        </p>

        <p>
          <b class="section-head">{{ 'COMPANY' | translate }}</b>
          <ng-container *ngIf="!!issue.company; else noCompany">
            <a [routerLink]="'/analytics/statistic/company/' + issue.company.id">{{ issue.company.title }}</a>
          </ng-container>
          <ng-template #noCompany>
            <span class="text-muted">({{ 'NONE' | translate }})</span>
          </ng-template>

        </p>

        <b class="section-head">{{ 'MESSAGE' | translate }}</b>
        <p class="detailed-message" [innerHTML]="issue.message | multiLine">
        </p>
        <p>
          <b class="section-head">{{ 'PHOTOS' | translate }}</b>
          <ng-container *ngIf="issue.pictures.length > 0; else noPictures">
            <app-picture-list [list]="issue.pictures"></app-picture-list>
          </ng-container>
          <ng-template #noPictures>
            <span class="text-muted">({{ 'NONE' | translate }})</span>
          </ng-template>
        </p>
        <p>
          <b class="section-head">{{ 'VIDEOS' | translate }}</b>
          <ng-container *ngIf="issue.videos.length > 0; else noVideo">
            <app-video-list [list]="issue.videos"></app-video-list>
          </ng-container>
          <ng-template #noVideo>
            <span class="text-muted">({{ 'NONE' | translate }})</span>
          </ng-template>
        </p>
      </div>

      <div class="box-footer">
        <small class="pull-right text-muted" app-date-time [value]="issue.createdAt"></small>
      </div>

    </div>

    <app-issue-comment-list [issue]="issue" [canComment]="false"></app-issue-comment-list>

  </ng-container>


</app-analyst-common-layout>