<app-analyst-common-layout>
    <div class="box box-primary">
        <div class="box-body">
            <app-analyst-year-time-filter></app-analyst-year-time-filter>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <app-analyst-country-map></app-analyst-country-map>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>

        <div class="box-footer">

        </div>
    </div>
</app-analyst-common-layout>