<app-analyst-common-layout>
    <div class="box box-primary" *ngIf="!!statistics">
        <div class="box-body">
            <app-analyst-statistic-filter
                    [currentYear]="selectedYear"
                    [endYear]="endYear"
                    [startYear]="startYear"
            ></app-analyst-statistic-filter>
        </div>

        <div class="box-body">

            <div class="row">

                <div class="col-md-6">
                    <app-analyst-country-map [statistic]="statistics.byFederalDistricts"></app-analyst-country-map>
                </div>
                <div class="col-sm-6">
                    <app-analyst-service-types-statistics [data]="statistics.common"></app-analyst-service-types-statistics>
                </div>

            </div>

        </div>

<!--        <div class="box-body">-->
<!--            -->
<!--        </div>-->

        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <app-analyst-service-type-shares-chart [data]="statistics.common"></app-analyst-service-type-shares-chart>
                </div>
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Percentages</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-3" *ngFor="let item of statistics.common">
                                    <app-analyst-service-type-percentage-item
                                            [percentage]="item.percentage"
                                            [serviceType]="item.serviceType"
                                    ></app-analyst-service-type-percentage-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">

        </div>
    </div>
</app-analyst-common-layout>