<div class="input-file-container">
  <span class="btn btn-success fake-button"><i class="fas fa-plus"></i> Add file</span>
  <input #fileSelector class="form-control-file input-file"
         type="file"
         id="file"
         accept=".jpg, .png"
         [multiple]="true"
         name="imageFile"
         (change)="onFilesSelectHandler($event.target.files)">
</div>

<div class="complaint-completed-pictures row">

  <div class="col-md-4 col-sm-4 col-lg-2 col-xl-2 col-4" *ngFor="let picture of complaint.pictures">
    <app-uploaded-complaint-picture-preview
            [picture]="picture"
            (onDelete)="onPictureDeleteHandler($event)">
    </app-uploaded-complaint-picture-preview>
  </div>

</div>


<div class="complaint-uploading-pictures">
  <app-upload-item *ngFor="let item of uploadingFiles | async" [uploadItem]="item">
    <app-upload-picture-preview [imageFile]="item.file"></app-upload-picture-preview>
  </app-upload-item>
</div>
