<div class="box">

  <div class="box-header with-border">
    <h3 class="box-title">{{ 'RESET_PASSWORD' | translate }}</h3>
  </div>

  <form (ngSubmit)="onSubmitHandler(form)" #form="ngForm">

    <div class="box-body">

      <div class="form-group has-feedback">
        <label for="password">{{ 'PASSWORD' | translate }}</label>
        <input
                ngModel
                id="password"
                name="password"
                autocomplete
                required
                type="password"
                class="form-control"
                placeholder="{{ 'PASSWORD' | translate }}"
        >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <app-form-field-error-list [field]="'password'" [errors]="errors.plainPassword ? errors.plainPassword : {}"></app-form-field-error-list>
      </div>

      <div class="form-group has-feedback">
        <label for="passwordRepeat">{{ 'RETYPE_PASSWORD' | translate }}</label>
        <input
                ngModel
                id="passwordRepeat"
                name="passwordRepeat"
                autocomplete
                required
                type="password"
                class="form-control"
                placeholder="{{ 'RETYPE_PASSWORD' | translate }}"
        >
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <app-form-field-error-list [field]="'passwordRepeat'" [errors]="errors.plainPassword ? errors.plainPassword : {}"></app-form-field-error-list>
      </div>

    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid || isLoading">{{ 'SUBMIT_OK' | translate }}</button>
    </div>

  </form>

</div>