<app-client-common-layout>
    <div class="box box-primary details" *ngIf="!!complaint">
        <div class="box-header with-border">
            <h3 class="box-title">{{ complaint.region.title }} <span class="text-muted">({{ complaint.region.federalDistrict.title }})</span></h3>

            <div class="box-tools pull-right" *ngIf="isOwnComplaint">
                <a routerLink="/client/complaint/{{complaint.id}}/edit" type="button" class="btn btn-box-tool"><i class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-box-tool" (click)="onDeleteClickHandler($event)"><i class="fa fa-trash"></i></button>
            </div>
        </div>
        <div class="box-body">
            <p>
                <app-complaint-map-view [complaint]="complaint"></app-complaint-map-view>
            </p>
            <p *ngIf="!!complaint.serviceType">
                <span class="text text-primary">{{ complaint.serviceType.title }}</span>
            </p>

            <b class="section-head">{{ 'MESSAGE' | translate }}</b>
            <p class="text detailed-message" [innerHTML]="complaint.message | multiLine"></p>

            <p *ngIf="complaint.pictures.length > 0">
                <b class="section-head">{{ 'PHOTOS' | translate }}</b>
                <app-picture-list [list]="complaint.pictures"></app-picture-list>
            </p>
            <p>
                <b class="section-head">{{ 'VIDEOS' | translate }}</b>
                <app-video-list [list]="complaint.videos"></app-video-list>
            </p>
        </div>

        <div class="box-footer">
            <div class="inline">
                <app-common-tag-item *ngFor="let tag of complaint.tags" [tag]="tag"></app-common-tag-item>
            </div>

            <small class="pull-right text-muted" app-date-time [value]="complaint.createdAt"></small>
        </div>
    </div>
</app-client-common-layout>
