<div class="login-page">
    <div class="login-box">
        <app-security-common-header></app-security-common-header>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">{{ 'LOGIN_HEADER' | translate }}</p>

            <app-login-form [errors]="errors" (onSubmitEvent)="onFormSubmit($event)"></app-login-form>

            <div class="box-body footer-links">
                <div class="pull-left">
                    <a routerLink="/security/register" class="text-center">{{ 'REGISTER' | translate }}</a>
                </div>
                <div class="pull-right">
                    <a routerLink="/security/password-recovery-request" class="text-center text-danger">{{ 'RESTORE_PASSWORD' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
