<div>
  <p *ngIf="!!company; else noSelectedCompany">
    <span class="text-primary">{{ company.fullName }}</span>
  </p>
  <ng-template #noSelectedCompany>
    <p class="text text-muted">(None)</p>
  </ng-template>
  <div>
    <button
            type="button"
            class="btn btn-primary"
            [disabled]="!region"
            [attr.title]="!region ? 'Choose a location first' : ''"
            (click)="onChooseButtonClickHandler($event)"
    >Choose a company</button>
  </div>
</div>

<ng-template #searchCompanyModal let-modal>
  <app-company-search-form (onCompanySelect)="onCompanySelectHandler($event)" [region]="region"></app-company-search-form>
</ng-template>