<div>
  <p *ngIf="!!_issue.company; else noSelectedCompany">
    <span class="text-primary">{{ _issue.company.fullName }}</span>
  </p>
  <ng-template #noSelectedCompany>
    <p class="text text-muted">({{ 'NONE' | translate }})</p>
  </ng-template>
  <div>
    <button
            type="button"
            class="btn btn-primary"
            [disabled]="!_issue.region"
            [attr.title]="!_issue.region ? ('SELECT_LOCATION_FIRST' | translate) : ''"
            (click)="onChooseButtonClickHandler($event)"
    >{{ 'SELECT_A_COMPANY' | translate }}</button>
  </div>
</div>

<ng-template #searchCompanyModal let-modal>
  <app-company-search-form (onCompanySelect)="onCompanySelectHandler($event)" [region]="_issue.region"></app-company-search-form>
</ng-template>