<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">{{ 'ADD_YOUTUBE_VIDEO' | translate }}</h3>
  </div>

  <form (ngSubmit)="onSubmitHandler(form)" #form="ngForm">

    <div class="box-body">
      <div class="form-group url-form-field">
        <label for="videoUrl">{{ 'URL' | translate }}</label>
        <input
                class="form-control"
                type="text"
                [(ngModel)]="videoUrl"
                name="videoUrl"
                required
                id="videoUrl" />
        <app-form-field-error-list [field]="'url'" [errors]="errors"></app-form-field-error-list>
        <div class="load-progress" *ngIf="currentState === 'LOADING_STATE'">
          <img src="../../../../../assets/ajax-loader.gif">
        </div>
      </div>
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid || (currentState !== 'READY_STATE')">{{ 'SUBMIT_OK' | translate }}</button>
    </div>

  </form>

</div>