<form #form="ngForm">

  <div class="form-group">
    <label>{{ 'SERVICE_TYPE' | translate }}</label>
    <select
            class="form-control"
            ngModel
            [compareWith]="compareServiceTypes"
            [required]="false"
            name="selectedServiceType"
            id="selectedServiceType"
            (ngModelChange)="onServiceTypeChangeHandler($event)"
    >
      <option value="" [selected]="true">{{ 'ALL' | translate }}</option>
      <option *ngFor="let serviceType of serviceTypes | async" [ngValue]="serviceType">{{ serviceType.title }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>{{ 'POINT_HASH_TAGS' | translate }}</label>

    <div class="tag-list">
      <ng-container *ngIf="tagItems.length > 0; else noTags;">
        <app-search-tag-item
                *ngFor="let item of tagItems"
                [tag]="item.tag"
                [complaintNumber]="item.complaintNumber"
                [isSelected]="isTagSelected(item.tag)"
                (onSelect)="onTagSelectHandler($event)"
                (onUnselect)="onTagUnSelectHandler($event)"
        ></app-search-tag-item>
      </ng-container>
      <ng-template #noTags>
        <span class="text-muted">{{ 'NONE' | translate }}</span>
      </ng-template>
    </div>
  </div>

</form>