<app-admin-common-layout>
  <div class="row">
    <div class="col-md-8">
      <app-dashboard-last-issues-widget></app-dashboard-last-issues-widget>
    </div>
    <div class="col-md-4">
      <app-dashboard-last-clients-widget></app-dashboard-last-clients-widget>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-dashboard-last-clients-widget></app-dashboard-last-clients-widget>
    </div>
    <div class="col-md-6">
      <app-dashboard-last-clients-widget></app-dashboard-last-clients-widget>
    </div>
  </div>
</app-admin-common-layout>

