<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <span><b>Red</b>Button</span>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <app-login-form [errors]="errors" (onSubmitEvent)="onFormSubmit($event)"></app-login-form>

<!--            <a href="#">I forgot my password</a><br>-->
            <a routerLink="/security/register" class="text-center">Register a new membership</a>
        </div>
    </div>
</div>
