<app-admin-common-layout>

  <ng-container *ngIf="!!issue">

    <div class="row">
        <div class="col-md-6">
            <app-admin-issue-signatures-widget [issue]="issue"></app-admin-issue-signatures-widget>
        </div>

        <div class="col-md-6">
            <app-admin-issue-like-widget [issue]="issue"></app-admin-issue-like-widget>
        </div>
    </div>


    <div class="box box-primary">


      <div class="box-header with-border">
        <h3 class="box-title">{{ issue.region.title }} <span class="text-muted">({{ issue.region.federalDistrict.title }})</span></h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" (click)="onDeleteClickHandler($event)"><i class="fa fa-trash"></i></button>
        </div>
      </div>


      <div class="box-body">
<!--        <p>-->
<!--          <app-issue-map-view [issue]="issue"></app-issue-map-view>-->
<!--        </p>-->

        <p>
          <b>Author</b>
          <br/>
          <span class="text text-primary">{{ issue.client.fullName }}</span>
        </p>
      <p>
        <b>Signatures</b>
        <br/>
        <app-admin-issue-signature-list [issue]="issue"></app-admin-issue-signature-list>
      </p>
        <p>
          <b>Service Type</b>
          <br/>
          <span class="text text-primary" *ngIf="!!issue.serviceType; else noServiceType">{{ issue.serviceType.title }}</span>
          <ng-template #noServiceType>
            <span class="text-muted">(None)</span>
          </ng-template>
        </p>


        <p>
          <b>Company</b>
          <br />
          <ng-container *ngIf="!!issue.company; else noCompany">

            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Title</th>
                  <td>{{ issue.company.title }}</td>
                </tr>
                <tr>
                  <th>Full Name</th>
                  <td>{{ issue.company.fullName }}</td>
                </tr>
                <tr>
                  <th>INN / OGRN</th>
                  <td>{{ issue.company.INN }} / {{ issue.company.OGRN }}</td>
                </tr>
                <tr>
                  <th>Head Name</th>
                  <td>{{ issue.company.headName }} </td>
                </tr>
                <tr>
                  <th>Legal Address</th>
                  <td>{{ issue.company.legalAddress }}</td>
                </tr>
                <tr>
                  <th>Actual Address</th>
                  <td>{{ issue.company.actualAddress }}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{ issue.company.email }}</td>
                </tr>
                <tr>
                  <th>Phone Numbers</th>
                  <td>{{ issue.company.phoneNumbers }}</td>
                </tr>
                <tr>
                  <th>Office Hours</th>
                  <td>{{ issue.company.officeHours }}</td>
                </tr>
                <tr>
                  <th>Postal Address</th>
                  <td>{{ issue.company.postalAddress }}</td>
                </tr>
                <tr>
                  <th>Site</th>
                  <td>
                    <a *ngIf="!!issue.company.site"
                       href="http://{{ issue.company.site }}"
                       target="_blank">{{ issue.company.site }}</a>
                  </td>
                </tr>
                <tr>
                  <th>Administrative Units</th>
                  <td>
                    <ng-container *ngIf="issue.company.administrativeUnits.length > 0; else noAdministrativeUnits">
                      <div *ngFor="let unit of issue.company.administrativeUnits; last as isLast">
                        {{ unit.title }} <span class="text-muted">{{ unit.region.federalDistrict.title }} - {{ unit.region.title }}</span>
                        <ng-container *ngIf="!isLast">, </ng-container>
                      </div>
                    </ng-container>
                    <ng-template #noAdministrativeUnits>
                      <span class="text-muted">(None)</span>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-template #noCompany>
            <span class="text-muted">(None)</span>
          </ng-template>

        </p>

        <p>
          <b>Message</b>
          <br/>
          <span class="text" [innerHTML]="issue.message | multiLine"></span>
        </p>
        <p>
          <b>Pictures</b>
          <br/>
          <ng-container *ngIf="issue.pictures.length > 0; else noPictures">
            <app-picture-list [list]="issue.pictures"></app-picture-list>
          </ng-container>
          <ng-template #noPictures>
            <span class="text-muted">(None)</span>
          </ng-template>
<!--          <app-picture-list [list]="issue.pictures"></app-picture-list>-->
        </p>
        <p>
          <b>Videos</b>
          <br />
          <ng-container *ngIf="issue.videos.length > 0; else noVideo">
            <app-video-list [list]="issue.videos"></app-video-list>
          </ng-container>
          <ng-template #noVideo>
            <span class="text-muted">(None)</span>
          </ng-template>
        </p>
      </div>

      <div class="box-footer">
        <small class="pull-right text-muted">{{ issue.createdAt | amFromUnix }}</small>
      </div>



    </div>
  </ng-container>

</app-admin-common-layout>

