<footer class="main-footer no-print">
  <div class="pull-left hidden-xs">
    <strong><a href="https://vk.com/id187299678" target="_blank"><span class="text-black">{{ 'DEVELOPER' | translate }}</span> Павел Коломыткин</a></strong>
    &copy; 2019
  </div>
  <div class="pull-right">
    <strong><span class="text-primary agreement-link" (click)="onAgreementClickHandler($event)">{{ 'USER_AGREEMENT' | translate }}</span></strong>
  </div>
  <div class="clearfix"></div>
<!--  <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights-->
<!--  reserved.-->

</footer>
