<div class="input-file-container">
  <input #fileSelector class="form-control-file input-file"
         type="file"
         id="file"
         accept=".jpg, .png"
         [multiple]="true"
         name="imageFile"
         (change)="onFilesSelectHandler($event.target.files)">
</div>

<div class="complaint-completed-pictures row">

  <div class="col-md-4 col-sm-4 col-lg-2 col-xl-2 col-4" *ngFor="let picture of pictures; let i = index">
    <app-uploaded-picture-preview
            [picture]="picture"
            (onDelete)="onPictureDeleteHandler($event)"
            (onImageClick)="onPictureClickHandler($event, i)"
    >
    </app-uploaded-picture-preview>
  </div>

</div>

<div class="complaint-uploading-pictures row">
  <div class="col-md-6 col-sm-4 col-lg-2 col-xl-2 col-4" *ngFor="let item of uploadingFiles | async">
    <app-upload-item [uploadItem]="item">
      <app-upload-picture-preview [imageFile]="item.file"></app-upload-picture-preview>
    </app-upload-item>
  </div>
</div>

<ng-template #removeAlertModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-basic-title">{{ 'REMOVE_PICTURE' }}?</h4>
  </div>
  <div class="modal-body">
    <b>{{ 'DO_YOU_REALLY_WANT_TO_REMOVE_THE_PICTURE' | translate }}?</b>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">{{ 'REMOVE' | translate }}</button>
  </div>
</ng-template>
