<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">{{ issue.region.title }}</h3>
  </div>
  <div class="box-body">
    <p class="text-primary" *ngIf="!!issue.serviceType">
      <span class="text-primary"> {{ issue.serviceType.title }}</span>
    </p>
    <p class="text-muted">{{
      issue.message.length > 150 ?
              (issue.message | slice:0:150) + '...'
              : issue.message }}
    </p>

    <p *ngIf="issue.complaintConfirmations.length > 0" title="{{ 'SIGNATURES' | translate }}">
      <app-issue-signature-progress [issue]="issue"></app-issue-signature-progress>
    </p>

      <div *ngIf="(issue.pictures.length > 0)">
        <ng-container *ngIf="issue.pictures.length > 0">
          <div>
            <app-picture-item
                    *ngFor="let picture of issue.pictures | slice:0:5"
                    [picture]="picture" [size]="'previewExtraSmall'">
            </app-picture-item>
          </div>
          <div>
            <span class="small" *ngIf="issue.pictures.length > 0">{{ issue.pictures.length }} {{ 'PHOTO' | translate }}</span>
          </div>
        </ng-container>
      </div>
      <div *ngIf="(issue.videos.length > 0)">
        <ng-container *ngIf="issue.videos.length > 0">

          <div>
            <app-video-item *ngFor="let video of issue.videos | slice:0:5" [video]="video" [size]="'extra-small'"></app-video-item>
          </div>

          <div>
            <span class="small" *ngIf="issue.videos.length > 0">{{ issue.videos.length }} {{ 'VIDEO' | translate }}</span>
          </div>

        </ng-container>
      </div>


    <div>
      <small class="text-muted">{{ issue.likeNumber }} {{ 'LIKE' | translate }} </small>
      <small class="text-muted">{{ issue.commentNumber }} {{ issue.commentNumber | noun:('COMMENT_ONE' | translate ):('COMMENT_TWO' | translate):('COMMENT_FIVE' | translate) }}</small>
    </div>
  </div>
  <div class="box-footer">
    <div class="pull-left">
      <a class="btn btn-success" [routerLink]="'/analytics/issue/' + issue.id">{{ 'MORE' | translate }}</a>
    </div>
    <div class="pull-right">
      <small class="text-muted" app-date-time [value]="issue.createdAt"></small>
    </div>
  </div>
</div>