<app-client-common-layout>
  <div>

    <div infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [infiniteScrollDisabled]="infinityScrollDisabled"
         (scrolled)="onScroll()"
      >

      <div *ngFor="let complaint of list">
        <app-complaint-item [complaint]="complaint" (onDelete)="onDeleteHandler($event)"></app-complaint-item>
      </div>

    </div>
    <p class="alert alert-info" *ngIf="total === 0">{{ 'YOU_HAVE_NO_COMPLAINTS' | translate}}! <a routerLink="/client/complaint/create">{{ 'ADD_NEW_ONE' | translate}}</a></p>

  </div>
</app-client-common-layout>
