<div class="box-comment comment-item">
  <ng-container *ngIf="isEditing">
    <app-issue-comment-form
            [comment]="comment"
            [errors]="editErrors"
            (onSubmit)="onCommentSubmitHandler($event)"
            (onCancel)="onCancelEditCommentHandler($event)"
            [withCancel]="true"
    ></app-issue-comment-form>
  </ng-container>

  <ng-container *ngIf="!isEditing">

    <div class="comment-text">
      <span class="username">{{ comment.author.fullName }}
        <span class="text-muted pull-right">{{ comment.createdAt | amFromUnix }}</span>
      </span>
      {{ comment.message }}
    </div>

    <div class="controls" *ngIf="(user | async).id === comment.author.id">
      <span class="btn btn-box-tool" (click)="onEditCommentClickHandler($event)">
        <i class="fa fa-edit"></i>
      </span>
      <span class="btn btn-box-tool" (click)="onDeleteClickHandler($event)">
        <i class="fa fa-trash"></i>
      </span>
    </div>

  </ng-container>

</div>


