body
{
    background-color: #d2d6de;
}

.modal.fade
{
    opacity: 1 !important;
}

.modal-backdrop.fade
{
    transition: none !important;
}

.modal-dialog
{
    margin: 70px auto !important;
}


button.dropdown-item
{
    border: none;
    background: transparent;
    width: 100%;
    text-align: left;
}
