body
{
    background-color: #d2d6de;
}

.modal.fade
{
    opacity: 1 !important;
}

.modal-backdrop.fade
{
    transition: none !important;
}

.modal-dialog
{
    margin: auto auto !important;
    /*transform: none !important;*/
    -webkit-transform: translate(0,0) !important;
    -moz-transform: translate(0,0) !important;
    -ms-transform: translate(0,0) !important;
    -o-transform: translate(0,0) !important;
    transform: translate(0,0) !important;
}


button.dropdown-item
{
    border: none;
    background: transparent;
    width: 100%;
    text-align: left;
}

.dropdown-menu .dropdown-item.active
{
    background: #3498db;
    color: #fff;
}

.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover
{
    background: none !important;
}

.btn.btn-box-tool
{
    font-size: 1.2em !important;
}

.toast {
    opacity: 1 !important;
}

.complaint-signature
{
    font-size: 0.9em;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header
{
    white-space: normal !important;
}

.vector-map-element
{
    fill: #0075ff;
    stroke: #61a9ff;
    stroke-width: 1px;
    stroke-miterlimit: 12;
    stroke-opacity: 0.5;
    cursor: pointer;
}

.vector-map-element:hover
{
    opacity: 0.9;
}

.login-box .footer-links
{
    padding-left: 0;
    padding-right: 0;
}

.detailed-message
{
    padding: 10px;
    border: 1px dashed #ccc;
    background: #ccc6;
}

.details b.section-head
{
    display: block;
    padding-bottom: 5px;
}