<app-admin-common-layout>

    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Issues <small class="text-muted" *ngIf="total !== null">({{ total }})</small></h3>
      </div>

      <div class="box-body with-border">
        <div class="row">
          <div class="col-md-6">
            <app-date-range-picker (onChange)="onDatePeriodChangeHandler($event)"></app-date-range-picker>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select
                      class="form-control"
                      [(ngModel)]="selectedRegion"
                      [compareWith]="compareEntity"
                      [required]="false"
                      (ngModelChange)="onRegionChangeHandler($event)"
                      name="selectedServiceType"
                      id="selectedServiceType"
              >
                <option [value]="null" class="text-muted">Select a Region</option>
                <option *ngFor="let region of regions | async" [ngValue]="region">{{ region.title }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <ng-container *ngIf="total !== null">


        <div class="box-body table-responsive no-padding">

          <table class="table table-hover">
            <tbody>
              <tr>
                <th [ngStyle]="{ minWidth: '40px' }">#</th>
                <th>Author</th>
                <th>Service Type</th>
                <th>Company</th>
                <th>Region</th>
                <th>Message</th>
                <th>Date</th>
                <th>Signatures</th>
                <th>Photos</th>
                <th>Videos</th>
                <th>Controls</th>

              </tr>

              <tr app-admin-issue-list-item
                  *ngFor="let issue of list"
                  [issue]="issue"
                  (onDelete)="onDeleteIssueHandler($event)"
              ></tr>


            </tbody>

          </table>

        </div>

        <div class="box-footer">
          <app-paginator
                  [itemsOnPage]="10"
                  [totalItems]="total"
          ></app-paginator>
        </div>


      </ng-container>

    </div>


</app-admin-common-layout>
