.map-balloon
{
    position: absolute;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    bottom: 12px;
    left: -50px;
    max-width: 350px;
    min-width: 350px;

    z-index: 10000;
}

.map-balloon.collapsed
{
    z-index: 500;
}

.map-balloon .box
{
    margin-bottom: 0 !important;
}


.map-balloon:after, .map-balloon:before
{
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


.map-balloon:after
{
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.map-balloon:before
{
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.map-balloon.collapsed:after
{

}

.map-balloon.collapsed:before
{

}


.map-balloon .mark
{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}


.mark {
    position: absolute;
    top: -47px;
    left: -22px;

    border-radius: 50% 50% 50% 0;
    border: 4px solid #fff;
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.mark::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #fff;
}
