<div class="map-container">
  <app-map #map
           (onReady)="onMapReadyHandler($event)"
           (onViewBoxChange)="onViewBoxChangeHandler($event)"
  ></app-map>
  <div class="control-panel">
    <div class="row">
      <div class="col-md-6">
        <div class="filter-container">
          <select
                  class="form-control"
                  [(ngModel)]="selectedServiceType"
                  [compareWith]="compareServiceTypes"
                  [required]="false"
                  (ngModelChange)="onServiceTypeChangeHandler($event)"
                  name="selectedServiceType"
                  id="selectedServiceType"
          >
            <option [value]="null">{{ 'ALL_SERVICE_TYPES' | translate }}</option>
            <option *ngFor="let serviceType of serviceTypes | async" [ngValue]="serviceType">{{ serviceType.title }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pull-right">

                    <span class="btn btn-default" (click)="onCenterMapButtonClickHandler($event)">
                        <i class="fa fa-arrows"></i>
                    </span>
          <span class="btn btn-default" (click)="onCloseButtonClickHandler($event)">
                        <i class="fa fa-close"></i>
                    </span>
        </div>
      </div>
    </div>
  </div>
</div>
