.map-container
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background: #ffffff;
}

.filter-container
{
    margin-top: 15px;
}

.control-panel
{
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    height: 30px;
}