<app-analyst-common-layout>

  <ng-container *ngIf="!!company">
    <app-analyst-statistic-filter
            [currentYear]="selectedYear"
            [endYear]="endYear"
            [startYear]="startYear"
            [routePrefix]="'/analytics/statistic/company/' + company.id + '/'"
    ></app-analyst-statistic-filter>
  </ng-container>


  <ng-container *ngIf="!!statistics">

    <div class="row">
      <div class="col-md-4">
        <app-analyst-company-map-widget [company]="company" [year]="selectedYear" [issueNumber]="statistics.statistics.number"></app-analyst-company-map-widget>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="!!company">

    <section class="content-header">
      <h1>
        {{ 'DETAILS' | translate }}
        <small>{{ 'CONTACTS' | translate }}</small>
      </h1>
    </section>

    <div class="box-body">
      <div class="box box-primary">
        <div class="box-body">
          <table class="table">
            <tbody>
            <tr>
              <th class="company-detail-field-name">{{ 'FULL_TITLE' | translate}}</th>
              <td>{{ company.fullName }}</td>
            </tr>
            <tr>
              <th class="company-detail-field-name">{{ 'INN' | translate}} / {{ 'OGRN' | translate}}</th>
              <td>{{ company.INN }} / {{ company.OGRN }}</td>
            </tr>
            <tr>
              <th class="company-detail-field-name">{{ 'HEAD_NAME' | translate }}</th>
              <td>{{ company.headName }} </td>
            </tr>
            <tr>
              <th class="company-detail-field-name">{{ 'LEGAL_ADDRESS' | translate }}</th>
              <td>{{ company.legalAddress }}</td>
            </tr>
            <tr>
              <th class="company-detail-field-name">{{ 'ACTUAL_ADDRESS' | translate }}</th>
              <td>{{ company.actualAddress }}</td>
            </tr>
            <tr>
              <th class="company-detail-field-name">{{ 'EMAIL' | translate }}</th>
              <td>{{ company.email }}</td>
            </tr>
            <tr>
              <th class="company-detail-field-name">{{ 'PHONE_NUMBER' | translate }}</th>
              <td>{{ company.phoneNumbers }}</td>
            </tr>
            <tr>
              <th class="company-detail-field-name">{{ 'OFFICE_HOURS' | translate }}</th>
              <td>{{ company.officeHours }}</td>
            </tr>
            <tr>
              <th class="company-detail-field-name">{{ 'POST_ADDRESS' | translate }}</th>
              <td>{{ company.postalAddress }}</td>
            </tr>
            <tr>
              <th class="company-detail-field-name">{{ 'SITE' | translate }}</th>
              <td>
                <a *ngIf="!!company.site"
                   href="http://{{ company.site }}"
                   target="_blank">{{ company.site }}</a>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>



  </ng-container>

  <ng-container *ngIf="!!popularIssues">
    <section class="content-header">
      <h1>
        {{ 'ISSUES' | translate }}
        <small>{{ 'MOST_PROBLEMATIC_ONES' | translate }}</small>
      </h1>
    </section>
    <div class="box-body">
      <ng-container *ngIf="popularIssues.length > 0; else noIssues;">
        <div class="row">
          <div class="col-md-4 issue-col" *ngFor="let issue of popularIssues">
            <app-analyst-issue-item [issue]="issue"></app-analyst-issue-item>
          </div>
        </div>
      </ng-container>
      <ng-template #noIssues>
        <span class="small text-muted">({{ 'NO_ISSUES' | translate }})</span>
      </ng-template>
    </div>
  </ng-container>

  <section class="content-header" *ngIf="!!statistics && !!dynamics">
    <h1>
      {{ 'STATISTICS' | translate }}
    </h1>
  </section>

  <div class="box-body" *ngIf="!!company">
    <div class="row">
      <div class="col-sm-6">
        <ng-container *ngIf="!!statistics">
          <app-analyst-service-type-shares-chart [title]="'COMMON_NUMBERS_STATISTICS' | translate" [data]="statistics.statistics.common"></app-analyst-service-type-shares-chart>
        </ng-container>
      </div>
      <div class="col-sm-6">
        <ng-container *ngIf="!!dynamics">
          <app-analyst-service-types-dynamic-year [year]="selectedYear" [title]="'DYNAMIC_STATISTICS' | translate" [data]="dynamics.statistics"></app-analyst-service-types-dynamic-year>
        </ng-container>
      </div>
    </div>
  </div>

</app-analyst-common-layout>